{{yield}}
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner" data-ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span {{action 'back'}} class="navbar-brand {{if historyService.cursorAtStart 'arrow-disabled'}}">{{fa-icon "arrow-left" size="1"}}</span>
            <span {{action 'forward'}} class="navbar-brand {{if historyService.cursorAtEnd 'arrow-disabled'}}">{{fa-icon "arrow-right" size="1"}}</span>
            <a href="../" class="navbar-brand">Payments</a>

        </div>
        <nav class="mobile-menu collapse navbar-collapse bs-navbar-collapse" role="navigation">

            {{#if session.isAuthenticated }}

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" {{ action 'invalidateSession' }}>Signout</a>
                </li>
            </ul>

            {{else}}

            <ul class="nav navbar-nav navbar-right">
                <li>{{#link-to 'register'}}Signup{{/link-to}}
                </li>
                <li class="divider-vertical"></li>
                <li>{{#link-to 'login'}}Login{{/link-to}}
                </li>
            </ul>
            {{/if}}
        </nav>
    </div>
</header>
